<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/restaurant-ajax.js"></script>
    <script src="javascripts/restaurant-maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS-rdEkY_sqFv2AjbRIHIsnMon6JXbg1E"></script>


    <script>socketInit();</script>

    <title><%= restaurant.name %></title>

</head>

<body>

<% include header.ejs %>

<div id="map" style="width:350px;height:300px"></div>
<script>
    initMap(<%=restaurant.lat%>, <%=restaurant.lng%>);
</script>
<script> displayGoogleMaps('<%= restaurant.name %>', <%= restaurant.lat %>, <%= restaurant.lng %>, '<%= restaurant.text %>', '<%= restaurant.cuisine %>', '<%= restaurant.phoneNumber %>', '<%= restaurant.url %>'); </script>


<h1 class="float-right "><%= restaurant.name %></h1>

<p>Address: <%= restaurant.address %></p>
<p>Lat: <%= restaurant.lat %></p>
<p>Lng: <%= restaurant.lng %></p>
<p>Description: <%= restaurant.text %></p>
<p>Phone Number: <%= restaurant.phoneNumber %></p>
<p>Cuisine: <%= restaurant.cuisine %></p>
<p>Score: <%= score %></p>
<p>Url: <%= restaurant.url %></p>

<div class="jumbotron">
    <h3>Add a Review</h3>
    <form class="" id="review-form" onsubmit="ajaxFunction(event)"action="/restaurant" method="post">
        Description: <input type="text" id="descrip" placeholder="Enter Review" name="descrip" id="descrip">
        <br>
        Rating: <input type="number" placeholder="Rating" min="1" max="5" name="rating" id="rating" required>
        <br>
        <input type="submit" class="btn btn-primary" name="submit" value="Submit" id="submit">
    </form>
    <br>
    <br>
</div>

<% var counter = 0;%>
<% var total = 0;%>
<% var score = 0;%>

<h2>Reviews: </h2>

<div id="reviews-area">

    <% reviews.forEach(function(review){ %>

    <div>
        UserId: <%= review.userId %> <br>
        Rating: <%= review.rating %> <br>
        Text: <%= review.text %> <br>
    </div>
</div>
<br>
<% total += review.rating %>
<% counter++ %>
<% score = total/counter %>
<% }); %>
<div> <p><%=Math.round(score).toPrecision(2)%></p></div>

</body>
</html>
