<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/restaurant-maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS-rdEkY_sqFv2AjbRIHIsnMon6JXbg1E"></script>

    <title>Search Results for <%=query%></title>


    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        #map {
            height: 100%;
        }
    </style>


</head>

<body>

<div id="map" style="width:600px;height:400px"></div>
<script>
    initMap();
</script>


<div>

    <% include header.ejs %>

    You searched the area: <%=query%> of Latitude: <%=lat%> and Longitude <%=lng%>  <br>

    <% restaurants.forEach(function(restaurant){ %>

    <!--use the restaurnat. lat .log and put the markers on
    new js file and include it
    put function in the %%% sign thing
    div id = map

    -->
    <!-- function after it in %% that puts a gmap and does the markers -->
    <script>displayGoogleMaps('<%= restaurant.name %>',<%= restaurant.lat %>,<%= restaurant.lng %>  );</script>

    <div>
        <h4><a href="/restaurant-<%= restaurant.name %>?token=<%= restaurant._id %>"> <%= restaurant.name %></a></h4>
        Address: <%= restaurant.address %><br>
        Lat: <%= restaurant.lat %><br>
        Lng: <%= restaurant.lng %><br>
        Description: <%= restaurant.text %><br>
        Phone Number: <%= restaurant.phoneNumber %><br>
        Cuisine: <%= restaurant.cuisine %><br>
        Url: <%= restaurant.url %><br>
    </div>

    <br>

    <% }); %>

</div>
</body>
</html>
